<div class="indexcontainer">

  <div class="homebanner"> WELCOME HOME </div>


<div class="postcontainer">
  <ol>
    <% @posts.each do |post| %>
      <li>
      <div class="poststats">
        <div class="titlestat">
          <%= link_to post.title, post_path(id: post.id)%>
        </div>
        <div class="likes">
          <%= post.like %>
        </div>
      </div>
      <div class="namebody">
        <div class="name">
          <%= post.user.name %>
        </div>
      </div>
      </li>
    <%end%>
  </ol>
 </div>
</div> <!-- close the index container - the page -->
