<div class="jumbotron">
  <h1>Welcome</h1>
</div>

<div class="root_container">
  <ol>
    <% @posts.each do |post| %>
      <li>
      <div class="posts">
        <div class="postsindex">
          <h2><%= link_to post.title, post_path(id: post.id)%></h2>
          <h3><%= post.user.name %></h3>
          <h3><%= post.like %></h3>
        </div>  <!-- close the postsindex div -->
      </div> <!-- close the posts div -->
      </li>
    <%end%>
  </ol>
</div>
