<div class="newpostcontainer">
  <%= "New Posts Entry Form" %>


  <div class="newpost">
    <%= link_to "NEWPOST - if new post redirect here", new_post_path %>
  </div>

  <%= render partial: 'form' %>
</div>
